kagglehub
pandas
qdrant-client
beautifulsoup4 
lxml
langchain-core
langchain_text_splitters
sentence_transformers
fastembed
dotenv
openai
google-genai
fastapi
uvicorn
redis
langchain-core
langchain-google-genai
rank-bm25
duckduckgo-search 
trafilatura
ddgs
streamlit